*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
  color: #333333;
  margin: 50px 0;
}


label, input{
  width: 40%;
  margin: 10px 25%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-top: 10px;
}


button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #186cc7;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
}

.product-list img {
  margin-right: 20px;
  border-radius: 4px;
}

.product-actions {
  margin-left: auto;
}

.true{
  background-color: #4CAF50;
}

.false{
  background-color: #f44336;
}